/**
 * Using cssicon- prefix, because icomoon is set to use icon- prefix
 */

.cssicon-close {
    position: relative;

    display: block;
    width: 1em;
    height: 1em;

    &:before,
    &:after {
        position: absolute;
        top: 35%;
        right: 0;
        left: 0;
        z-index: 1;

        height: 30%;

        background: #d8d8d8;
        transform: rotate(45deg);
        content: '';
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.cssicon-plus:before,
.cssicon-plus:after,
.cssicon-minus:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate(-50%, -50%);

    background-color: grey;

    content: '';
}

.cssicon-minus {

    &:before {
        width: calc(100% - 10px);
        height: 1px;
    }
}

.cssicon-plus {

    &:before {
        height: calc(100% - 10px);
        width: 1px;
    }

    &:after {
        width: calc(100% - 10px);
        height: 1px;
    }
}
