@import '../variables';

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

[class*="col-"] {
    flex: none;
    width: 100%;
    padding: 5px;
}

.cols(@t, @n, @i: 1) when (@i < @n) {
    .col-@{t}-@{i}-@{n} {
        width: 100% * @i / @n;
    }
    .cols(@t, @n, (@i + 1));
}

.cols(x, 1);
.cols(x, 2);
.cols(x, 3);
.cols(x, 4);

@media (min-width: @break-m-min) {
    .cols(m, 1);
    .cols(m, 2);
    .cols(m, 3);
    .cols(m, 4);
}

@media (min-width: @break-t-min) {
    .cols(t, 1);
    .cols(t, 2);
    .cols(t, 3);
    .cols(t, 4);
}

@media (min-width: @break-d-min) {
    .cols(d, 1);
    .cols(d, 2);
    .cols(d, 3);
    .cols(d, 4);
}
