@import '../variables';

@layout-main-t-width: 70%;
@layout-main-l-width: 50%;
@layout-main-f-width: 965px;

@layout-aside-t-width: (100% - @layout-main-t-width);
@layout-aside-l-width: (100% - @layout-main-l-width);
@layout-aside-f-width: auto;

.layout {

}

.layout__main {

}

.layout__aside {
    display: none;
}

.layout__card {
    display: none;
}

.layout__card-small {

}

.layout__gallery {
    display: none;
}

.layout__gallery-small {

}

/**
 * Responsive
 */
@media (min-width: @break-t-min) {

    .layout {
        display: flex;
    }

    .layout__main {
        flex: 0 0 @layout-main-t-width;
        max-width:@layout-main-t-width;
        //TODO: There is a problem with swiper if you dont include: max-width: ...;
    }

    .layout__aside {
        position: fixed;
        top: 0;
        right: 0;
        left: @layout-main-t-width;
        z-index: 1;

        display: block;
        flex: 0 0 @layout-aside-t-width;

        height: 100vh;
    }

    .layout__card {
        display: block;
        height: 100%;
        overflow: auto;
    }

    .layout__card-small {
        display: none;
    }
}

@media (min-width: @break-l-min) {

    .layout__main {
        flex: 0 0 50%;
    }

    .layout__aside {
        left: @layout-main-l-width;

        display: flex;
        flex: 0 0 @layout-aside-l-width;
    }

    .layout__card {
        flex: 0 0 50%;
    }

    .layout__gallery {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .layout__gallery-small {
        display: none;
    }
}

@media (min-width: @break-f-min) {

    .layout__main {
        flex: 0 0 965px;
    }

    .layout__aside {
        left: @layout-main-f-width;

        flex: 1 0 @layout-aside-f-width;
    }

    .layout__card {
        flex: 0 0 310px;
    }

    .layout__gallery {
        flex: 1 0 auto;
        max-width: 100%;
    }
}
