@import '../variables';

.section-padding() {
    padding: @section-padding-mob;

    @media (min-width: @break-t-min) {
        padding: @section-padding;
    }
}

.section {
    .section-padding();
}

.section__header {
    text-align: center;
}

.section__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 @section-padding-mob @section-padding-h @section-padding-mob;
    align-items: center;

    @media (min-width: @break-t-min) {
        padding: 0 @section-padding-h @section-padding-h @section-padding-h;
    }
}

.section__divider {
    margin-bottom: @section-padding-mob;
}

.section__header--margin-default {
    margin-bottom: 35px;
}

.section__header--margin-small {
    margin-bottom: 25px;
}

.section--shopping {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
