@font-face {
  font-family: 'ZlavaDnes';
  src:
    url('fonts/ZlavaDnes.ttf?cu43i5') format('truetype'),
    url('fonts/ZlavaDnes.woff?cu43i5') format('woff'),
    url('fonts/ZlavaDnes.svg?cu43i5#ZlavaDnes') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ZlavaDnes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e916";
}
.icon-tiles:before {
  content: "\e904";
}
.icon-grid:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-pinterest:before {
  content: "\e90b";
}
.icon-images:before {
  content: "\e90c";
}
.icon-paper-plane:before {
  content: "\e90f";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-print:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e917";
}
.icon-zlava:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e908";
}
.icon-chevron-thin-left:before {
  content: "\e909";
}
.icon-chevron-thin-right:before {
  content: "\e90a";
}
