@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?cu43i5') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?cu43i5') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?cu43i5#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus {
  &:before {
    content: @icon-google-plus; 
  }
}
.icon-close {
  &:before {
    content: @icon-close; 
  }
}
.icon-tiles {
  &:before {
    content: @icon-tiles; 
  }
}
.icon-grid {
  &:before {
    content: @icon-grid; 
  }
}
.icon-star {
  &:before {
    content: @icon-star; 
  }
}
.icon-cart {
  &:before {
    content: @icon-cart; 
  }
}
.icon-location {
  &:before {
    content: @icon-location; 
  }
}
.icon-twitter {
  &:before {
    content: @icon-twitter; 
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook; 
  }
}
.icon-pinterest {
  &:before {
    content: @icon-pinterest; 
  }
}
.icon-images {
  &:before {
    content: @icon-images; 
  }
}
.icon-paper-plane {
  &:before {
    content: @icon-paper-plane; 
  }
}
.icon-heart {
  &:before {
    content: @icon-heart; 
  }
}
.icon-print {
  &:before {
    content: @icon-print; 
  }
}
.icon-chevron-right {
  &:before {
    content: @icon-chevron-right; 
  }
}
.icon-zlava {
  &:before {
    content: @icon-zlava; 
  }
}
.icon-check {
  &:before {
    content: @icon-check; 
  }
}
.icon-chevron-thin-left {
  &:before {
    content: @icon-chevron-thin-left; 
  }
}
.icon-chevron-thin-right {
  &:before {
    content: @icon-chevron-thin-right; 
  }
}

