@icomoon-font-family: "ZlavaDnes";
@icomoon-font-path: "fonts";

@icon-google-plus: "\e910";
@icon-close: "\e916";
@icon-tiles: "\e904";
@icon-grid: "\e900";
@icon-star: "\e901";
@icon-cart: "\e902";
@icon-location: "\e903";
@icon-twitter: "\e906";
@icon-facebook: "\e907";
@icon-pinterest: "\e90b";
@icon-images: "\e90c";
@icon-paper-plane: "\e90f";
@icon-heart: "\e90e";
@icon-print: "\e905";
@icon-chevron-right: "\e917";
@icon-zlava: "\e90d";
@icon-check: "\e908";
@icon-chevron-thin-left: "\e909";
@icon-chevron-thin-right: "\e90a";

