/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
/**
 * Light     300
 * Regular   400
 * Italic    400i
 * Bold      700
 */
/**
 * Bold     700
 * Black    900
 */
html,
body {
  background: #fff;
  color: #343434;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 640px) {
  html,
  body {
    font-size: 18px;
  }
}
.home-page {
  background: #fbfbfb;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}
.h1,
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 900;
}
.h1--huge {
  line-height: 1;
  font-size: 32px;
}
@media (min-width: 1024px) {
  .h1--huge {
    font-size: 42px;
  }
}
@media (min-width: 1600px) {
  .h1--huge {
    font-size: 64px;
  }
}
.h2,
h2 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 900;
}
.h3,
h3 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 900;
}
hr {
  margin: 20px 0 25px 0;
  height: 0;
  border: 0;
  background: transparent;
  border-bottom: 1px dotted #e0e0e0;
}
a {
  color: #ee502f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  padding: 0 0 0 20px;
  margin: 5px 0;
}
ul li {
  padding: 10px 0 10px 15px;
  font-size: inherit;
  font-weight: 300;
  line-height: 1.4;
}
ul li:first-child {
  padding-top: 0;
}
ul.list--arrows {
  list-style-type: none;
  padding-left: 0;
}
ul.list--arrows li {
  display: flex;
  padding-left: 0;
}
ul.list--arrows li:before {
  content: "\E917";
  padding: 6px 30px 0 0;
  color: #9b9b9b;
  font-size: 10px;
  font-family: 'ZlavaDnes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol {
  counter-reset: item;
  padding-left: 0;
  margin: 5px 0;
  list-style-type: none;
}
ol li {
  display: flex;
  padding: 10px 0;
  font-size: inherit;
  font-weight: 300;
  line-height: 1.4;
  counter-increment: item;
}
ol li:before {
  content: counter(item);
  padding-right: 25px;
  font-weight: 700;
}
[v-cloak] {
  display: none !important;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
[v-cloak] {
  display: none !important;
}
/**
 * Layout
 */
/**
 * Container
 */
/**
 * Grid
 */
/**
 * Container
 */
/**
 * Section
 */
/**
 * Fonts
 */
/**
 * Colors
 */
/**
 * Gradients
 */
/**
 * Buttons
 */
/**
 * Z indexes
 */
/**
 * Transitions
 */
/**
 * Forms
 */
@font-face {
  font-family: 'ZlavaDnes';
  src: url(/fonts/ZlavaDnes.ttf?abed512e828940e8968201b7aba8514c) format('truetype'), url(/fonts/ZlavaDnes.woff?c094aa97b03fd173a6309b943aa55ed7) format('woff'), url(/fonts/ZlavaDnes.svg?75ee058f526292fa9a580b65ae848099#ZlavaDnes) format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ZlavaDnes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google-plus:before {
  content: "\E910";
}
.icon-close:before {
  content: "\E916";
}
.icon-tiles:before {
  content: "\E904";
}
.icon-grid:before {
  content: "\E900";
}
.icon-star:before {
  content: "\E901";
}
.icon-cart:before {
  content: "\E902";
}
.icon-location:before {
  content: "\E903";
}
.icon-twitter:before {
  content: "\E906";
}
.icon-facebook:before {
  content: "\E907";
}
.icon-pinterest:before {
  content: "\E90B";
}
.icon-images:before {
  content: "\E90C";
}
.icon-paper-plane:before {
  content: "\E90F";
}
.icon-heart:before {
  content: "\E90E";
}
.icon-print:before {
  content: "\E905";
}
.icon-chevron-right:before {
  content: "\E917";
}
.icon-zlava:before {
  content: "\E90D";
}
.icon-check:before {
  content: "\E908";
}
.icon-chevron-thin-left:before {
  content: "\E909";
}
.icon-chevron-thin-right:before {
  content: "\E90A";
}
.container {
  margin: auto;
}
/**
 * Using cssicon- prefix, because icomoon is set to use icon- prefix
 */
.cssicon-close {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
}
.cssicon-close:before,
.cssicon-close:after {
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
  z-index: 1;
  height: 30%;
  background: #d8d8d8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
}
.cssicon-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cssicon-plus:before,
.cssicon-plus:after,
.cssicon-minus:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: grey;
  content: '';
}
.cssicon-minus:before {
  width: calc(100% - 10px);
  height: 1px;
}
.cssicon-plus:before {
  height: calc(100% - 10px);
  width: 1px;
}
.cssicon-plus:after {
  width: calc(100% - 10px);
  height: 1px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
[class*="col-"] {
  flex: none;
  width: 100%;
  padding: 5px;
}
.col-x-1-2 {
  width: 50%;
}
.col-x-1-3 {
  width: 33.33333333%;
}
.col-x-2-3 {
  width: 66.66666667%;
}
.col-x-1-4 {
  width: 25%;
}
.col-x-2-4 {
  width: 50%;
}
.col-x-3-4 {
  width: 75%;
}
@media (min-width: 640px) {
  .col-m-1-2 {
    width: 50%;
  }
  .col-m-1-3 {
    width: 33.33333333%;
  }
  .col-m-2-3 {
    width: 66.66666667%;
  }
  .col-m-1-4 {
    width: 25%;
  }
  .col-m-2-4 {
    width: 50%;
  }
  .col-m-3-4 {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .col-t-1-2 {
    width: 50%;
  }
  .col-t-1-3 {
    width: 33.33333333%;
  }
  .col-t-2-3 {
    width: 66.66666667%;
  }
  .col-t-1-4 {
    width: 25%;
  }
  .col-t-2-4 {
    width: 50%;
  }
  .col-t-3-4 {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .col-d-1-2 {
    width: 50%;
  }
  .col-d-1-3 {
    width: 33.33333333%;
  }
  .col-d-2-3 {
    width: 66.66666667%;
  }
  .col-d-1-4 {
    width: 25%;
  }
  .col-d-2-4 {
    width: 50%;
  }
  .col-d-3-4 {
    width: 75%;
  }
}
.layout__aside {
  display: none;
}
.layout__card {
  display: none;
}
.layout__gallery {
  display: none;
}
/**
 * Responsive
 */
@media (min-width: 768px) {
  .layout {
    display: flex;
  }
  .layout__main {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .layout__aside {
    position: fixed;
    top: 0;
    right: 0;
    left: 70%;
    z-index: 1;
    display: block;
    flex: 0 0 30%;
    height: 100vh;
  }
  .layout__card {
    display: block;
    height: 100%;
    overflow: auto;
  }
  .layout__card-small {
    display: none;
  }
}
@media (min-width: 1240px) {
  .layout__main {
    flex: 0 0 50%;
  }
  .layout__aside {
    left: 50%;
    display: flex;
    flex: 0 0 50%;
  }
  .layout__card {
    flex: 0 0 50%;
  }
  .layout__gallery {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .layout__gallery-small {
    display: none;
  }
}
@media (min-width: 1600px) {
  .layout__main {
    flex: 0 0 965px;
  }
  .layout__aside {
    left: 965px;
    flex: 1 0 auto;
  }
  .layout__card {
    flex: 0 0 310px;
  }
  .layout__gallery {
    flex: 1 0 auto;
    max-width: 100%;
  }
}
.section {
  padding: 20px;
}
@media (min-width: 768px) {
  .section {
    padding: 50px 70px;
  }
}
.section__header {
  text-align: center;
}
.section__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 70px 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .section__container {
    padding: 0 70px 70px 70px;
  }
}
.section__divider {
  margin-bottom: 20px;
}
.section__header--margin-default {
  margin-bottom: 35px;
}
.section__header--margin-small {
  margin-bottom: 25px;
}
.section--shopping {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
