/**
 * Light     300
 * Regular   400
 * Italic    400i
 * Bold      700
 */
.font-lato() {
    font-family: 'Lato', sans-serif;
}

/**
 * Bold     700
 * Black    900
 */
.font-montserrat() {
    font-family: 'Montserrat', sans-serif;
}
