@import './variables';

.font-family--default { font-family: @font-family--default !important; }
.font-family--primary { font-family: @font-family--primary !important; }
.font-size--xxsmall { font-family: @font-size--xxsmall !important; }
.font-size--xsmall { font-family: @font-size--xsmall !important; }
.font-size--small { font-family: @font-size--small !important; }
.font-size { font-family: @font-size !important; }
.font-size--smedium { font-family: @font-size--smedium !important; }
.font-size--medium { font-family: @font-size--medium !important; }
.font-size--large { font-family: @font-size--large !important; }
.font-size--xlarge { font-family: @font-size--xlarge !important; }
.font-size--xxlarge { font-family: @font-size--xxlarge !important; }
.font-size--huge { font-family: @font-size--huge !important; }

.link {
    color: @color--primary;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.text--line-through {
    text-decoration: line-through;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body.open-popup {
    position: fixed;
    overflow: hidden;
}

.flex-grow {
    flex: 1 0 auto;
}
