@import './variables';
@import './mixins';
@import '../fonts/icomoon/variables';


html,
body {
    background: #fff;
    color: @color--default;
    font-family: @font-family--default;
    font-size: @font-size;
    font-weight: 300;
    line-height: @line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (min-width: @break-m-min) {
        font-size: @font-size--medium;
    }
}

.home-page {
    background: @color--bgr;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.h1,
h1 {
    font-family: @font-family--primary;
    .font(@font-size--xxlarge, 900);
}

.h1--huge {
    line-height: 1;
    font-size: @font-size--xlarge;

    @media (min-width: @break-d-min) {
        font-size: @font-size--xxlarge;
    }

    @media (min-width: @break-f-min) {
        font-size: @font-size--huge;
    }
}

.h2,
h2 {
    margin-bottom: 20px;
    font-family: @font-family--primary;
    .font(@font-size--large, 900);
}

.h3,
h3 {
    margin-bottom: 20px;
    font-family: @font-family--primary;
    .font(@font-size--medium, 900);
}

hr {
    margin: @section-padding-mob 0 25px 0;
    height: 0;
    border: 0;
    background: transparent;
    border-bottom: 1px dotted @color--light;
}

a {
    color: @color--primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    padding: 0 0 0 20px;
    margin: 5px 0;

    li {
        padding: 10px 0 10px 15px;
        font-size: inherit;
        font-weight: 300;
        line-height: 1.4;

        &:first-child {
            padding-top: 0;
        }

    }

    &.list--arrows {
        list-style-type: none;
        padding-left: 0;

        li {
            display: flex;
            padding-left: 0;
        }

        li:before {
            content: @icon-chevron-right;
            padding: 6px 30px 0 0;

            color: #9b9b9b;

            font-size: 10px;
            font-family: 'ZlavaDnes' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

ol {
    counter-reset: item;
    padding-left: 0;
    margin: 5px 0;
    list-style-type: none;

    li {
        display: flex;
        padding: 10px 0;
        font-size: inherit;
        font-weight: 300;
        line-height: 1.4;

        counter-increment: item;
    }

    li:before {
        content: counter(item);
        padding-right: 25px;
        font-weight: 700;
    }
}

[v-cloak] {
    display: none !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

[v-cloak] {
    display: none !important;
}
