/**
 * Layout
 */
@break-f-min: 1600px;
@break-f-max: (@break-f-min - 1);
@container-width: 1180px;
@break-l-min: 1240px;
@break-l-max: (@break-l-min - 1);
@break-d-min: 1024px;
@break-d-max: (@break-d-min - 1);
@break-t-min: 768px;
@break-t-max: (@break-t-min - 1);
@break-m-min: 640px;
@break-m-max: (@break-m-min - 1);
@break-s-min: 414px; // iPhone 6+
@break-s-max: (@break-s-min - 1);

/**
 * Container
 */
@desktop-container-padding: 20px;
@tablet-container-padding: 15px;
@mobile-container-padding: 10px;

/**
 * Grid
 */
@grid-padding-s: 5px;
@grid-padding-m: 5px;
@grid-padding-t: 5px;
@grid-padding-d: 5px;
@grid-padding-l: 5px;
@grid-padding-f: 5px;

/**
 * Container
 */
@container-width: 1080px;

/**
 * Section
 */
@section-padding-mob: 20px;
@section-padding-v: 50px;
@section-padding-h: 70px;
@section-padding: @section-padding-v @section-padding-h;

/**
 * Fonts
 */
@font-family--default: 'Lato', sans-serif;
@font-family--primary: 'Montserrat', sans-serif;
@font-size--xxsmall: 11px;
@font-size--xsmall:  12px;
@font-size--small:   13px;
@font-size:          14px;
@font-size--smedium: 16px;
@font-size--medium:  18px;
@font-size--large:   24px;
@font-size--xlarge:  32px;
@font-size--xxlarge: 42px;
@font-size--huge:    64px;

@line-height: 1.4;

/**
 * Colors
 */
@color--default: #343434;
@color--primary: #ee502f;
@color--secondary: #0092a9;
@color--light: #e0e0e0;
@color--facebook: #2e4da7;
@color--twitter: #07a3f4;
@color--google-plus: #ce4136;
@color--pinterest: #ca2319;
@color--bgr: #fbfbfb;

/**
 * Gradients
 */
@gradient--primary: linear-gradient(246deg, #f7845e, #eb3837);
@gradient--card: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0, 0, 0, 0.5)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

/**
 * Buttons
 */
@btn-color: #fff;
@btn-background: @color--primary;
@btn-padding--small: 12px 12px;
@btn-padding: 15px 15px;
@btn-padding--medium: 16px 15px;
@btn-padding--big: 15px 20px;
@btn-padding--large: 15px 30px;
@btn-group-margin: 7px;
@btn-radius: 2px;

/**
 * Z indexes
 */
@z-hidden: -1;
@z-assets: 100;
@z-overlay: 1000;
@z-popup: 10000;
@z-max: 16200;

/**
 * Transitions
 */
@transition-duration: .25s;

/**
 * Forms
 */
@form-item--margin-x: 15px;
@form-item--margin-y: 10px;

@form-color--label: #747474;
@form-color--text: #101010;
